@charset "UTF-8";
/*-----------------------------------------------------------
>>> Table of Contents
-------------------------------------------------------------

1.0 Normalize
2.0 Accessibility
3.0 Typography
4.0 Controls
5.0 Forms
6.0 Formatting
7.0 Lists
8.0 Tables
9.0 Links
10.0 Layout
   10.1 Header
   10.2 Regular Content
   10.3 Front Page
   10.4 Footer
11.0 Navigation

-----------------------------------------------------------*/
/*-----------------------------------------------------------
1.0 Normalize
Styles based on Normalize v5.0.0 @link https://github.com/necolas/normalize.css
------------------------------------------------------------*/
html {
  font-family: sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
footer,
header,
nav,
section {
  display: block; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

figcaption,
figure,
main {
  display: block; }

figure {
  margin: 1em 0; }

hr {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace, monospace;
  font-size: 1em; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

a:active,
a:hover {
  outline-width: 0; }

abbr[title] {
  border-bottom: 1px #767676 dotted;
  text-decoration: none; }

b,
strong {
  font-weight: inherit; }

b,
strong {
  font-weight: 900; }

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

dfn {
  font-style: italic; }

mark {
  background-color: #eee;
  color: #222; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

audio,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

img {
  border-style: none;
  max-width: 100%; }

svg:not(:root) {
  overflow: hidden; }

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  border: 1px solid #bbb;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  display: inline-block;
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details,
menu {
  display: block; }

summary {
  display: list-item; }

canvas {
  display: inline-block; }

template {
  display: none; }

[hidden] {
  display: none; }

/*--------------------------------------------------------------
2.0 Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
  /* Many screen reader and browser combinations announce broken words as they would appear visually. */ }

.screen-reader-text:focus {
  background-color: #f1f1f1;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 900;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */ }

/*--------------------------------------------------------------
3.0 Typography
--------------------------------------------------------------*/
html, body {
  font-size: 18px;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  color: #1D215E;
  background-color: #F9F9FF; }

* {
  border-color: #C8C8EB;
  outline-color: #C8C8EB; }

button,
input,
select,
textarea {
  background-color: #C8C8EB;
  color: #1D215E;
  border: none;
  padding: 10px 20px;
  border-radius: 50px;
  margin: 10px auto; }

textarea {
  border-radius: 15px; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  clear: both;
  overflow-wrap: break-word; }

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
  padding-top: 0; }

h1 {
  font-size: 58px;
  line-height: 68px;
  font-weight: 700; }

h2 {
  font-size: 58px;
  line-height: 68px;
  font-weight: 700; }

h3 {
  font-size: 38.37px;
  line-height: 45px;
  font-weight: 600; }

h4 {
  font-size: 24px;
  line-height: 170.3%;
  color: #3A42BC;
  font-weight: 600; }

h5 {
  font-size: 24px;
  line-height: 140.3%;
  font-weight: 600; }

h6 {
  font-size: 18px;
  line-height: 21px;
  font-weight: 600; }

p {
  margin: 0 0 1.5em;
  padding: 0;
  line-height: 2.14rem; }

dfn,
cite,
em,
i {
  font-style: italic; }

blockquote {
  color: #3A42BC;
  font-weight: 700; }

blockquote cite {
  display: block;
  font-style: normal; }

address {
  margin: 0 0 1.5em; }

pre {
  background: #C8C8EB;
  font-family: "Courier", Courier, monospace;
  line-height: 1.6;
  margin-bottom: 1.6em;
  padding: 1.6em; }

code,
kbd,
tt,
var {
  font-family: "Courier", Courier, monospace;
  font-size: 0.9375rem; }

abbr,
acronym {
  border-bottom: 0.07rem solid #C8C8EB;
  cursor: help; }

mark,
ins {
  background: #3A42BC;
  color: #F9F9FF; }

big {
  font-size: 125%; }

blockquote {
  quotes: "" ""; }

q {
  quotes: "“" "”" "‘" "’"; }

blockquote:before,
blockquote:after {
  content: ""; }

:focus {
  outline: none; }

::selection {
  background: #3A42BC;
  color: #F9F9FF; }

/*--------------------------------------------------------------
4.0 Controls
--------------------------------------------------------------*/
.btn-primary-cta {
  background-color: #3A42BC; }

.btn-secondary-cta {
  background-color: transparent;
  border: 1.16px solid #3A42BC;
  color: #3A42BC; }

.btn-tertiary-cta {
  background-color: #F9F9FF;
  color: #1D215E; }

.select-wrapper {
  position: relative;
  min-width: 234px; }
  .select-wrapper select {
    /* Appearance: none will hide the default arrow */
    appearance: none;
    /* Best to include the browser prefix for cross-browser compatibility */
    -webkit-appearance: none;
    -moz-appearance: none;
    color: #3A42BC;
    width: 100%; }
  .select-wrapper::after {
    content: "\25bc";
    /* down arrow */
    font-size: 18px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 20px;
    line-height: 50px;
    color: #3A42BC; }

.os-scrollbar-vertical > .os-scrollbar-track {
  width: 10px; }
  .os-scrollbar-vertical > .os-scrollbar-track .os-scrollbar-handle {
    background: #1D215E !important; }

/*-----------------------------------------------------------
Styles based on 2020 Toggles by Aaron Iker @ https://codepen.io/aaroniker/pen/ZEYoxEY
------------------------------------------------------------*/
@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  input[type='checkbox'],
  input[type='radio'] {
    --active: #3A42BC;
    --active-inner: #F1F1F1;
    --focus: 2px rgba(39, 94, 254, .3);
    --border: #C8C8EB;
    --border-hover: #3A42BC;
    --background: #F1F1F1;
    --disabled: #F6F8FF;
    --disabled-inner: #E1E6F9;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 21px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    cursor: pointer;
    border: 1px solid var(--bc, var(--border));
    background: var(--b, var(--background));
    transition: background .3s, border-color .3s, box-shadow .2s; }
    input[type='checkbox']:after,
    input[type='radio']:after {
      content: '';
      display: block;
      left: 0;
      top: 0;
      position: absolute;
      transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s); }
    input[type='checkbox']:checked,
    input[type='radio']:checked {
      --b: var(--active);
      --bc: var(--active);
      --d-o: .3s;
      --d-t: .6s;
      --d-t-e: cubic-bezier(.2, .85, .32, 1.2); }
    input[type='checkbox']:disabled,
    input[type='radio']:disabled {
      --b: var(--disabled);
      cursor: not-allowed;
      opacity: .9; }
      input[type='checkbox']:disabled:checked,
      input[type='radio']:disabled:checked {
        --b: var(--disabled-inner);
        --bc: var(--border); }
      input[type='checkbox']:disabled + label,
      input[type='radio']:disabled + label {
        cursor: not-allowed; }
    input[type='checkbox']:hover:not(:checked):not(:disabled),
    input[type='radio']:hover:not(:checked):not(:disabled) {
      --bc: var(--border-hover); }
    input[type='checkbox']:focus,
    input[type='radio']:focus {
      box-shadow: 0 0 0 var(--focus); }
    input[type='checkbox']:not(.switch),
    input[type='radio']:not(.switch) {
      width: 21px; }
      input[type='checkbox']:not(.switch):after,
      input[type='radio']:not(.switch):after {
        opacity: var(--o, 0); }
      input[type='checkbox']:not(.switch):checked,
      input[type='radio']:not(.switch):checked {
        --o: 1; }
    input[type='checkbox'] + label,
    input[type='radio'] + label {
      font-size: 14px;
      line-height: 21px;
      display: inline-block;
      vertical-align: top;
      cursor: pointer;
      margin-left: 4px; }
  input[type='checkbox']:not(.switch) {
    border-radius: 7px; }
    input[type='checkbox']:not(.switch):after {
      width: 5px;
      height: 9px;
      border: 2px solid var(--active-inner);
      border-top: 0;
      border-left: 0;
      left: 7px;
      top: 4px;
      transform: rotate(var(--r, 20deg)); }
    input[type='checkbox']:not(.switch):checked {
      --r: 43deg; }
  input[type='checkbox'].switch {
    width: 38px;
    border-radius: 11px; }
    input[type='checkbox'].switch:after {
      left: 2px;
      top: 2px;
      border-radius: 50%;
      width: 15px;
      height: 15px;
      background: var(--ab, var(--border));
      transform: translateX(var(--x, 0)); }
    input[type='checkbox'].switch:checked {
      --ab: var(--active-inner);
      --x: 17px; }
    input[type='checkbox'].switch:disabled:not(:checked):after {
      opacity: .6; }
  input[type='radio'] {
    border-radius: 50%; }
    input[type='radio']:after {
      width: 19px;
      height: 19px;
      border-radius: 50%;
      background: var(--active-inner);
      opacity: 0;
      transform: scale(var(--s, 0.7)); }
    input[type='radio']:checked {
      --s: .5; } }

/*--------------------------------------------------------------
5.0 Forms
--------------------------------------------------------------*/
fieldset {
  margin-bottom: 1em; }

input,
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
  background: #C8C8EB;
  border: none;
  border-bottom: 0.07rem solid #C8C8EB;
  display: inline-block;
  padding: 10px 20px; }

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
  color: #3A42BC;
  border-color: #3A42BC;
  background-color: #F9F9FF;
  border: 0.07rem solid #3A42BC; }

select {
  height: 3rem;
  max-width: 100%; }

input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin solid #3A42BC; }

button,
input[type="button"],
input[type="submit"],
[type="reset"] {
  -webkit-box-shadow: none;
  box-shadow: none;
  text-shadow: none;
  width: 234px;
  height: 58px;
  padding: 0;
  background-color: #3A42BC;
  color: #F9F9FF;
  font-weight: 600;
  cursor: pointer; }
  button:hover,
  input[type="button"]:hover,
  input[type="submit"]:hover,
  [type="reset"]:hover {
    box-shadow: 0 1px 2px rgba(29, 33, 94, 0.07), 0 2px 4px rgba(29, 33, 94, 0.07), 0 4px 8px rgba(29, 33, 94, 0.07), 0 8px 16px rgba(29, 33, 94, 0.07), 0 16px 32px rgba(29, 33, 94, 0.07), 0 32px 64px rgba(29, 33, 94, 0.07);
    transition: box-shadow 0.3s ease-in-out; }
  button:focus,
  input[type="button"]:focus,
  input[type="submit"]:focus,
  [type="reset"]:focus {
    background: #3A42BC;
    color: var(--color-background); }

/* Placeholder text color -- selectors need to be separate to work. */
::-webkit-input-placeholder,
:-moz-placeholder,
::-moz-placeholder,
:-ms-input-placeholder {
  color: #3A42BC; }

::-moz-placeholder {
  opacity: 1;
  /* Since FF19 lowers the opacity of the placeholder by default */ }

/*--------------------------------------------------------------
6.0 Formatting
--------------------------------------------------------------*/
hr {
  background-color: #C8C8EB;
  border: 0;
  height: .07rem;
  margin-bottom: 1.5em; }

/*--------------------------------------------------------------
7.0 Lists
--------------------------------------------------------------*/
ul,
ol {
  margin: 0 0 1.5em; }

ul {
  list-style: disc; }

ol {
  list-style: decimal; }

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em; }

dt {
  font-weight: 900; }

dd {
  margin: 0 1.5em 1.5em; }

/*--------------------------------------------------------------
8.0 Tables
--------------------------------------------------------------*/
table {
  border-collapse: collapse;
  margin: 0 0 1.5rem;
  width: 100%; }

thead th {
  border-bottom: 0.14rem solid #C8C8EB;
  padding-bottom: 0.5em; }

th {
  padding: 0.4rem;
  text-align: left; }

tr {
  border-bottom: 0.07rem solid #C8C8EB; }

td {
  padding: 0.4rem; }

th:first-child,
td:first-child {
  padding-left: 0; }

th:last-child,
td:last-child {
  padding-right: 0; }

/*--------------------------------------------------------------
9.0 Links
--------------------------------------------------------------*/
a {
  color: #3A42BC;
  text-decoration: none; }
  a:focus {
    outline: thin dotted; }
  a:hover {
    color: #1D215E; }
  main a:hover {
    border-bottom: 2px solid #3A42BC; }
  a:active, a.active {
    color: #3A42BC;
    outline: 0; }

/*--------------------------------------------------------------
10.0 Layout
--------------------------------------------------------------*/
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*,
*:before,
*:after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  transition: all .3s ease-in-out; }

body {
  overflow-x: hidden; }

.site-header,
.site-content,
.site-footer {
  margin-left: auto;
  margin-right: auto; }

/*--------------------------------------------------------------
10.1 Header
--------------------------------------------------------------*/
.site-header {
  padding: 24px 11.28%;
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  background: #F9F9FF; }
  .site-header a {
    color: #1D215E; }
    .site-header a:hover {
      color: #3A42BC; }
  .site-header img {
    width: 42.81px;
    height: auto;
    margin-right: 39px; }
  .site-header .site-branding {
    font-size: 58px;
    line-height: 68px;
    font-weight: 700;
    text-transform: uppercase; }

/*--------------------------------------------------------------
10.2 Regular Content
--------------------------------------------------------------*/
.site-content > :nth-child(2n) {
  background-color: #E6E6F9; }

.site-content > * {
  padding: 0 11.28%; }

/*--------------------------------------------------------------
10.3 Front Page
--------------------------------------------------------------*/
.site-metadata > * {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.site-metadata .metadata-info > * {
  flex: 1 1 50%; }

.site-metadata .metadata-info .metadata-general {
  margin-right: 39px;
  margin-bottom: 44px; }

.site-metadata .metadata-cta .cta-expertises {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
  flex-wrap: nowrap; }
  .site-metadata .metadata-cta .cta-expertises li {
    display: inline-block;
    font-size: 18px;
    line-height: 21px;
    font-weight: 600;
    width: 196px;
    margin-right: 13px; }

.site-metadata .metadata-cta .cta-primary {
  margin-right: 0; }

.site-section {
  padding-top: 61px;
  padding-bottom: 87px; }
  .site-section .section-title {
    text-align: center; }
  .site-section .expertises-wrapper {
    display: flex;
    align-items: start; }
    .site-section .expertises-wrapper .card-expertise:nth-child(2) {
      margin: 0 24px; }
  .site-section .prestations-wrapper, .site-section .processus-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center; }
  .site-section.hero-section {
    background-color: #3A42BC; }
    .site-section.hero-section * {
      color: #F9F9FF; }

.processus-wrapper {
  column-gap: 24px;
  row-gap: 106px; }

.credentials-wrapper {
  text-align: center; }

.section-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 44px; }

.card .card-link :hover {
  border: none;
  text-decoration: none; }

.card-expertise {
  min-height: 360px;
  background-color: #3A42BC;
  border-radius: 16px;
  padding: 10px 20px 20px;
  flex: 1 1 33%;
  box-sizing: content-box;
  display: grid; }
  .card-expertise * {
    color: #F9F9FF; }
  .card-expertise .expertise-cta {
    text-align: right;
    align-self: end; }
  .card-expertise:hover {
    box-shadow: 0 2.8px 2.2px rgba(29, 33, 94, 0.034), 0 6.7px 5.3px rgba(29, 33, 255, 0.048), 0 12.5px 10px rgba(29, 33, 94, 0.06), 0 22.3px 17.9px rgba(29, 33, 94, 0.072), 0 41.8px 33.4px rgba(29, 33, 94, 0.086), 0 100px 80px rgba(29, 33, 94, 0.12); }

.card-prestation .prestation-name {
  font-weight: 400;
  font-size: 20px;
  border: 1px solid #C8C8EB;
  border-radius: 20px;
  padding: 28px 49px;
  color: #1D215E; }
  .card-prestation .prestation-name:hover {
    background-color: #3A42BC;
    color: #F9F9FF; }

.card-processus {
  font-size: 16px;
  border-radius: 16px;
  min-height: 365px;
  padding: 10px 20px 20px;
  border: 1px solid #C8C8EB;
  border-top: none;
  border-right: 1px solid rgba(200, 200, 235, 0.5);
  border-left: 1px solid rgba(200, 200, 235, 0.5); }
  .card-processus .card-header {
    text-align: center; }
    .card-processus .card-header .card-icon {
      width: 96px;
      height: 96px; }

/*--------------------------------------------------------------
11.0 Navigation
--------------------------------------------------------------*/
.navigation {
  display: flex;
  align-items: center;
  line-height: 1.78rem;
  width: 100%; }
  .navigation ul {
    list-style: none;
    padding: 0;
    margin: 0; }
  .navigation li {
    display: inline-block;
    margin-right: 2.86rem;
    position: relative; }

.mobile-navigation {
  display: none; }
