.card {
  .card-link {
    color: $color-text;
    text-decoration: none;
    
    :hover {
      border: none;
      text-decoration: none;
    }
  }
}

.card-expertise, .card-article,
.card-processus, .card-testimonial {
  border-radius: 16px;
  padding: $padding-btn 20px;
  box-sizing: content-box;
  border: 1px solid $color-secondary;
  border-top: none;
  border-right: 1px solid rgba(200, 200, 235, .5);
  border-left: 1px solid rgba(200, 200, 235, .5);
}

.card-expertise, .card-article {
  &:hover {
    box-shadow: $box-shadow-card;
  }
}

.card-expertise {
  min-height: 360px;
  background-color: $color-highlight;
  flex: 1 1 33%;
  display: grid;

   * {
     color: $color-lightwhite;
   }

   .expertise-cta {
     text-align: right;
     align-self: end;
   }
}

.card-prestation {
  .prestation-name {
    font-weight: 400;
    font-size: 20px;
    border: 1px solid $color-secondary;
    border-radius: 20px;
    padding: 28px 49px;
    color: $color-text;

    &:hover {
      background-color: $color-highlight;
      color: $color-lightwhite;
    }
  }
}

.card-processus {
  font-size: 16px;
  min-height: 365px;

  .card-header {
    text-align: center;

    .card-icon {
      width: 96px;
      height: 96px;
    }
  }
}
